<!DOCTYPE html>
<html>
<body>
<h2>Dashboard</h2>

<input id="age" placeholder="Age">
<input id="stage" placeholder="Stage">
<input id="histology" placeholder="Histology">

<button onclick="predict()">Predict</button>

<h3 id="result"></h3>

<hr>

<h3>Chatbot</h3>
<input id="msg">
<button onclick="send()">Send</button>
<div id="chat"></div>

<script>
function predict(){
 fetch('/predict',{
  method:'POST',
  headers:{'Content-Type':'application/json'},
  body:JSON.stringify({
    Age:age.value,
    Tumour_Stage:stage.value,
    Histology:histology.value
  })
 }).then(r=>r.json()).then(d=>{
   result.innerText = d.prediction + " ("+d.survival_probability+"%)"
 })
}

function send(){
 fetch('/chat',{
  method:'POST',
  headers:{'Content-Type':'application/json'},
  body:JSON.stringify({message:msg.value})
 }).then(r=>r.json()).then(d=>{
   chat.innerHTML += "<p>"+d.reply+"</p>"
 })
}
</script>
</body>
</html>